body {
	background-color: #BEACC5;
	font-family: "Raleway";
}

ul {
    list-style-type: none;
}

a {
	text-decoration: none;
}

#cards {
	color: #000;
}

.left-rail {
	width: 400px;
	float: left;
}

.right-rail {
	width: 240px;
	float: left;
}

.tab-container ul {
	display: inline-block;
	margin-bottom: -5px;
}

.tab-container ul li {
	float: left;
	padding: 10px 25px;
	background-color: #E3E3E3;
	cursor: pointer;
}

.tab-container ul li:first-child {
	border-radius: 5px 0 0 0;
}

.tab-container ul li:last-child {
	border-radius: 0 5px 0 0;
}

.tab-container ul li.active {
	background-color: #fff;
}

.card-container {
	background: #fff;
    padding: 10px;
    width: 299px;
    margin-left: 40px;
    border-radius: 0 0 5px 5px;
}

.star-list {
	padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #b40ac7;
}

.type {
	font-family: 'Microsoft Yahei';
	float: right;
    margin-top: -20px;
}

.word-container {
	overflow: hidden;
	font-family: 'Microsoft Yahei';
	display: none;
	margin: 15px auto;
	text-align: center;
}

.word-container .word {
	float: left;
}

.word-container .word.kanji {
	text-align: center;
	font-size: 22px;
	cursor: pointer;
}

.word-container .word.hiro {
	font-size: 22px;
	padding-top: 16px;
}

.word-container .word .label {
	display: block;
	font-size: 10px;
	opacity: 0;
	transition: all 0.2s linear;
}

.word-container .word .label.display {
	opacity: 1;
}

.progress-container {
	overflow: hidden;
}

.progress-container .wrapper {
	float: right;
}

.progress.title {
	font-size: 14px;
}

.handlers {
	height: 30px;
}

.handlers li {
	float: left;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 15px;
}

.create-words {
	margin-left: 40px;
	width: 300px;
    background: #e3e3e3;
    padding: 10px;
    border-radius: 5px;
    min-height: 220px;
}

.create-input {
	width: 100%;
	margin-bottom: 6px;
	margin-top: 2px;
}

.send {
	float: right;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 3px;
	cursor: pointer;
}

.search-container {
	margin-top: 20px;
}

.search-input {
	display: table;
}

.search-input input {
	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 6px;
    border: none;
    display: table-cell;
}

.search-handler {
	background-color: #fff;
	padding: 3px;
	border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: table-cell;
}

.search-btn {
	color: #000;
}

.results-container {
	height: 345px;
    background-color: #fff;
    width: 170px;
    margin-top: 32px;
    border-radius: 5px;
    padding: 15px;
    overflow-y: scroll;
}

.results-list {
	padding: 0;
	margin: 0;
}

.results-list li {
	padding: 5px 0;
	cursor: pointer;
}

.results-list li:hover {
	background-color: #E3E3E3;
}

.results-list li .tag-id {
	font-size: 10px;
	color: #fff;
	background-color: #b40ac7;
	padding: 2px;
	border-radius: 2px;
	margin-left: 5px;
}