body {
	background-image: url("/staticcontent/image/background/pattern_black_1.jpg");
	background-size: 100% auto;
    background-repeat: repeat-y;
	font-family: "Acme";
	margin: 0;
}

ul, li {
	list-style-type: none;
}

.fa-refresh {
	color: #fff;
	cursor: pointer;
}

#kingdom_middle_field {
	width: 670px;
	height: 100%;
	padding: 35px 10px 10px 10px;
	background-color: #111;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(17,17,17,1), inset 0px 0px 10px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 10px rgba(17,17,17,1), inset 0px 0px 10px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 10px rgba(17,17,17,1), inset 0px 0px 10px 5px rgba(0,0,0,0.75);
	display: inline-block;
}

#kingdom_left_field {
	width: 250px;
	display: inline-block;
	padding: 25px;
	float: left;
}

.container.scene {
	margin: 0 15px 15px 15px;
	padding: 5px;
	background-color: #222;
	border-radius: 40px 5px 5px 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	min-height: 100px;
}

.container .icon {
	float: left;
}

.container .tag {
	padding: 2px 5px 0 5px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #ccc;
	float: right;
	margin-top: -25px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-family: "Acme";
}

.container .tag.announcement {
	text-shadow: 1px 1px #000;
}

.container.state {
	padding-left: 15px;
	margin-left: -30px;
	margin-top: 10px;
	
	float: left;
	min-width: 100px;
}

.container.info table {
	width: 100%;
    color: #fff;
}

.container.info .table.text {
	width: 40%;
	padding-right: 20px;
}

.container.info .table.equips {
	width: 46%;
}

.container.info .table.equips td span {
	margin-top: 5px;
}

.container.info .table {
	float: left;
}

.container.info table td span:first-child {
	float: left;
}

.container.info table td span:nth-child(2),
.container.info .table.equips td .icon {
	float: right;
}

.container.moreInfo {
	clear: both;
	padding-right: 15px;
}

.container.players:after, .container.enemies:after {
	content: " ";
	display: block; 
   	height: 0; 
   	clear: both;
}

.container.enemies .avatar {
	float: right;
}

.container.item {
	clear: both;
}

.container.equipDetail {
	clear: both;
	padding-right: 15px;
}

.label.name,
.label.state {
	color: #fff;
	padding-left: 15px;
}

.label.part, .label.type, .label.damage, .label.speed {
	color: #fff;
}

.label.damage {
	clear: both;
}

.label.part {
	float: left;
}

.label.type {
	float: right;
}

.label.state.hp {
	font-size: 10px;
	margin-top: 3px;
	text-align: center;
	padding-left: 5px;
	padding-right: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 85px;
	height: 14px;
	overflow: hidden;
}

.label.state.hp .text {
	margin-top: -14px;
    display: inline-block;
}

.label.state.hp .inner {
	background: -webkit-linear-gradient(top, #e0ef3e 0%,#8eb92a 50%,#4c9300 52%,#67c92e 100%);
	display: inline-block;
	height: 14px;
}

.label.usage {
	color: #1eff00;
}

.label.desc {
	color: #ffd100;
}

.avatar.player {
	width: 160px;
	height: 75px;
	float: left;
	clear: right;
}

.icon.event {
	margin: 5px;
	float: left;
	clear: right;
}

.icon.player {
	margin: 5px;
}

.icon.big .box {
	width: 58px;
	height: 58px;
	background-color: #fff;
	-webkit-clip-path: circle(29px at 29px 29px);
}

.icon .box {
	width: 30px;
	height: 30px;
	-webkit-clip-path: circle(15px at 15px 15px);
}

.icon.price .box {
	width: 13px;
	height: 13px;
	-webkit-clip-path: circle(6px at 6px 6px);
}

.icon.player .level {
	color: #fff;
	font-family: "Acme";
	position: relative;
	width: 17px;
	height: 17px;
    top: -16px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: auto;
    font-size: 14px;
}

.icon.item .level {
	color: #fff;
	font-family: "Acme";
	position: relative;
	width: 10px;
	height: 10px;
    top: -9px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: auto;
    font-size: 8px;
    background-color: #666;
}

.icon.player .level.m {
	background-color: #668dff;
}

.icon.player .level.f {
	background-color: #ff668d;
}

.icon.player .level.n {
	background-color: #bbb;
	color: #000;
}

.icon.big.item .level {
	display: none;
}

.icon.big img {
	width: 56px;
	height: 56px;
	margin: 1px 0 0 1px;
	-webkit-clip-path: circle(28px at 28px 28px);
}

.icon img {
	width: 28px;
	height: 28px;
	margin: 1px 0 0 1px;
	-webkit-clip-path: circle(14px at 14px 14px);
}

.icon.price img {
	width: 13px;
	height: 13px;
	margin: 1px 0 0 1px;
	-webkit-clip-path: circle(6px at 6px 6px);
}

.icon.table span {
	margin-left: 10px;
    margin-top: 5px;
}

.icon.table .box {
	background-color: #fff;
}

.message {
	clear: both;
}

.message.recruit,
.message.event,
.message.annc {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	margin: 0 5px;
	padding: 10px;
	color: #fff;
	border-radius: 3px;
}

.message.annc {
	width: 84%;
	clear: none;
	float: left;
	margin-top: 5px;
}

.calendar {
	float: right;
}

.calendar .label.time,
.calendar .label.date {
	color: #fff;
	display: inline-block;
	min-width: 50px;
	padding-left: 25px;
}

.list.items,
.list.equips {
	clear: both;
}

.list.items ul,
.list.equips ul {
	padding: 10px 0;
	margin: 0;
}

.list.equips li {
	float: left;
	padding-right: 5px;
}

.list.items .icon,
.list.equips .icon {
	float: none;
	cursor: pointer;
}

.item.info .level {
	display: none;
}

.table.price td div {
	display: inline-block;
	float: left;
}

.button {
	color: #fff;
	float: right;
	font-size: 18px;
	padding-left: 20px;
}